# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea
.vs
temp
cmake-build-*
bin
saved
imgui.ini

data/models
third_party/deps

# Xmake cache
.xmake/
build/
vsoutputdir/
vsxmake2019/
vsxmake2022/

# MacOS Cache
.DS_Store


